<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razer</title>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Send" >
    <!-- <form action="answer/" method="post">
      {% csrf_token %}
      <input type="url" placeholder="Enter url" name="url">
      <button type="submit">Submit</button>
    </form> -->
  </body>
</html>
